[submodule "GroupWithMegan"]
	path = GroupWithMegan
	url = https://github.com/SlyRaider27/GroupProject.git
[submodule "GroupWithMeganDavidNick"]
	path = GroupWithMeganDavidNick
	url = https://github.com/SlyRaider27/GroupProject.git
[submodule "CIS131GroupProject"]
	url = git@github.com:KalinBowden/CIS131GroupProject.git
