body{
    background-color: #2D2D2D;
    color: #D2D0C4;

}

div {
    text-align: center;
}

/**************
      ID's
**************/
#displayPic img{
    width: 860px;
}

/**************
    Classes
**************/
.icon img{
  margin-top: 50px;
  width: 150px;
}

.icon img:hover{
    opacity: .1;
}
